/* Base document styles
*******************************************************************************/
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}
.card {
  position: relative;
  width: 800px;
  height: 400px;
  color: #fff;
  background: #000;
  overflow: hidden;
}
/* Mixins/helper classes
*******************************************************************************/
/* Variables
*******************************************************************************/
/* RoomScore card
*******************************************************************************/
.card--roomscore {
  display: flex;
  flex-direction: column;
  font-family: 'ratio-display', 'Helvetica Neue', 'Helvetica', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.card--roomscore .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card--roomscore .content--thanks,
.card--roomscore .content--help,
.card--roomscore .content--hostile {
  display: none;
}
.card--roomscore .branding,
.card--roomscore .target,
.card--roomscore .message,
.card--roomscore .footer {
  position: relative;
}
.card--roomscore .branding {
  height: 2.15em;
  background: url(./cards/./cards/../../../images/wood.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid #331e0e;
  z-index: 2;
}
.card--roomscore .branding img {
  position: relative;
  top: 0.35em;
  width: 8em;
  opacity: 0.65;
}
.card--roomscore .main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 auto;
  padding: 1.125em 1.5em;
}
.card--roomscore .main .target,
.card--roomscore .main .message {
  text-align: center;
  z-index: 2;
}
.card--roomscore .main .target {
  position: relative;
  flex: 0 0 auto;
  width: 33.3333%;
  margin-right: 0.15em;
}
.card--roomscore .main .target .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 0.5em;
  transform: rotate(-3deg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.card--roomscore .main .target .grade {
  position: absolute;
  left: -4em;
  bottom: -4.5em;
  width: 13em;
  transform: rotate(-6deg);
  z-index: 1;
}
.card--roomscore .main .message {
  display: flex;
  flex-direction: column;
  margin-left: 0.15em;
}
.card--roomscore .main .message .greeting,
.card--roomscore .main .message .signature {
  flex: 0 0 auto;
}
.card--roomscore .main .message .greeting {
  font-size: 1.75em;
}
.card--roomscore .main .message .greeting .name {
  font-weight: 600;
}
.card--roomscore .main .message .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  padding: 1.25em 1.5em 0.5em 1.5em;
}
.card--roomscore .main .message .body .grade {
  width: 1.25em;
  margin: 0 0.25em;
}
.card--roomscore .main .message .body .intro,
.card--roomscore .main .message .body .closing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.25em;
}
.card--roomscore .main .message .body .location {
  margin: 0.15em 0;
  padding: 0.2em 0.75em 0.25em 0.75em;
  font-size: 2.5em;
  font-weight: 600;
  color: #fff;
  border-radius: 1em;
}
.card--roomscore .main .message .signature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card--roomscore .main .message .signature .photo {
  width: 4.75em;
  height: 4.75em;
  margin-right: 1em;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #fff;
  background-size: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.35em;
}
.card--roomscore .main .message .signature .user {
  height: 4.75em;
}
.card--roomscore .main .message .signature .user .name {
  margin-top: 0.75em;
  font-size: 1.5em;
  font-weight: 600;
}
.card--roomscore .main .message .signature .user .location {
  font-size: 1.25em;
}
.card--roomscore .footer {
  flex: 0 0 auto;
  padding: 0.5em 1.5em;
  text-align: right;
  background: url(./cards/./cards/../../../images/wood.jpg) no-repeat center center;
  background-size: cover;
  color: rgba(255, 255, 255, 0.65);
  border-top: 1px solid #331e0e;
  z-index: 1;
}
.card--roomscore .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./cards/./cards/../../../images/wood.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.45;
  z-index: 0;
}
.card--roomscore .background .highlight {
  position: absolute;
  width: 100%;
  top: 6em;
  height: 11.5em;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.75);
}
.card--roomscore.tone--thanks .content--thanks {
  display: flex;
}
.card--roomscore.tone--thanks .greeting .name {
  color: #0ca73c;
}
.card--roomscore.tone--thanks .body .location {
  background: #0ca73c;
}
.card--roomscore.tone--thanks .signature .user .name {
  color: #0ca73c;
}
.card--roomscore.tone--help .content--help {
  display: flex;
}
.card--roomscore.tone--help .greeting .name {
  color: #ebbc03;
}
.card--roomscore.tone--help .body .location {
  background: #ebbc03;
}
.card--roomscore.tone--help .signature .user .name {
  color: #ebbc03;
}
.card--roomscore.tone--hostile .content--hostile {
  display: flex;
}
.card--roomscore.tone--hostile .target {
  margin-right: 0;
  margin-left: 0.15em;
}
.card--roomscore.tone--hostile .target .photo {
  transform: rotate(3deg);
}
.card--roomscore.tone--hostile .target .grade {
  position: absolute;
  left: auto;
  right: -4em;
  transform: rotate(6deg);
}
.card--roomscore.tone--hostile .message {
  order: -1;
  margin-left: 0;
  margin-right: 0.15em;
}
.card--roomscore.tone--hostile .greeting .name {
  color: #e33a08;
}
.card--roomscore.tone--hostile .body .location {
  background: #ca3407;
}
.card--roomscore.tone--hostile .signature .user .name {
  color: #e33a08;
}
.card--roomscore.tone--hostile .footer {
  text-align: left;
}
